:root {
  --color_0: #00509dff;
  --color_1: #0496ffff;
  --color_2: #f18701ff;
  --color_3: #f7b801ff;
  --color_4: #bd1f36ff;
  --color_5: #81c14bff;
  --color_6: #2b9348ff;
  --color_7: lightgray;
  --color_8: gray;
  --color_9: #172B4D;
  --color_10: #0496ff21;
}

html { height: 100vh; }

body {
  height: 100vh;
  margin: 0;
}

#root { height: 100%; }

.App {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color_7);
  color: var(--color_9);
  font-family: sans-serif;
}

nav {
  padding: .5rem;
}

nav > *:not(:last-child) {
  margin-right: .5rem;
}
